*.pyc
*.log
batch_settings/2022/Maya.env
batch_settings/mayaLog
batch_settings/projects/default/workspace.mel
Batcher/maya_settings/2022/Maya.env
Batcher/maya_settings/mayaLog
Batcher/maya_settings/projects/default/workspace.mel
Logs
